apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  annotations:
    argocd-image-updater.argoproj.io/image-list: {{.Values.image.repository}}:{{.Values.image.tag}}
    argocd-image-updater.argoproj.io/update-strategy: "digest"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
        - image: {{.Values.image.repository}}:{{.Values.image.tag}}
          name: {{ .Chart.Name }}
          imagePullPolicy: {{.Values.image.pullPolicy}}
          env:
            - name: PORT
              value: "8080"
            - name: LOG_FILE
              value: "/var/logs/app/golang-app.log"
            - name: MOVIE_TARGET_FOLDER
              value: "/app/movies-target"
            - name: TV_TARGET_FOLDER
              value: "/app/tvshows-target"
            - name: TMDB_API_KEY
              value: {{ .Values.tmdbApiKey }}
            - name: DB_SYNC
              value: {{ .Values.db.sync }}
            - name: DB_HOST
              value: {{ .Values.db.host }}
            - name: DB_PORT
              value: "{{ .Values.db.port }}"
            - name: DB_USER
              value: {{ .Values.db.user }}
            - name: DB_PASSWORD
              value: {{ .Values.db.password }}
            - name: DB_NAME
              value: {{ .Values.db.name }}
          volumeMounts:
            - mountPath: /var/logs/app
              name: log-volume
            - mountPath: /app/movies-target
              name: movies-target-volume
            - mountPath: /app/tvshows-target
              name: tv-target-volume
          ports:
            - containerPort: 8080
              name: 8080tcp
              protocol: TCP
          resources:
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
      volumes:
        - name: log-volume
          persistentVolumeClaim:
            claimName: media-service-logs
        - name: movies-target-volume
          persistentVolumeClaim:
            claimName: {{ .Values.storage.moviesTargetPVC }}
        - name: tv-target-volume
          persistentVolumeClaim:
            claimName: {{ .Values.storage.tvTargetPVC }}