image:
  repository: rg.fr-par.scw.cloud/binge-mate/streaming-service
  tag: dev
  pullPolicy: Always

resources:
  limits:
    cpu: 100m
    memory: 50Mi
  requests:
    cpu: 10m
    memory: 20Mi

hpa:
  minReplicas: 1
  maxReplicas: 3
  memoryUtilizationPercentage: 70

service:
  type: ClusterIP
  port: 8080

storage:
  className: "nfs-client"
  mediaTargetPVC: media-target
