image:
  repository: rg.fr-par.scw.cloud/binge-mate/media-service
  tag: dev
  pullPolicy: Always

resources:
  limits:
    cpu: 100m
    memory: 60Mi
  requests:
    cpu: 20m
    memory: 20Mi

service:
  type: ClusterIP
  port: 8080

storage:
  className: "nfs-client"
  logs: 1Gi
  moviesTargetPVC: media-target
  tvTargetPVC: media-target

db:
  sync: "true"
  host: "postgres"
  user: "postgres"
  password: "postgres"
  port: 5432
  name: "postgres"

redis:
  host: "redis:6379"
  password: "redis"

tmdbApiKey: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"