image:
  repository: rg.fr-par.scw.cloud/binge-mate/watch-service
  tag: dev
  pullPolicy: Always
  env:
    DB_HOST: localhost
    DB_PORT: 5432
    DB_NAME: postgres
    DB_USER: postgres
    DB_PASSWORD: postgres
    SERVER_PORT: 3000

resources:
  limits:
    cpu: 30m
    memory: 100Mi
  requests:
    cpu: 10m
    memory: 50Mi

service:
  type: ClusterIP
  port: 3000
