image:
  repository: rg.fr-par.scw.cloud/binge-mate/media-indexer
  tag: dev
  pullPolicy: Always

resources:
  limits:
    cpu: 50m
    memory: 200Mi
  requests:
    cpu: 10m
    memory: 50Mi

service:
  type: ClusterIP
  port: 8080

storage:
  className: "nfs-client"
  logs: 1Gi
  moviesSource: 20Gi
  moviesTarget: 100Gi
  tvSource: 20Gi
  tvTarget: 100Gi

db:
  sync: true
  host: "postgres"
  user: "postgres"
  password: "postgres"
  name: "postgres"

scanCron: "*/15 * * * *" # every 15 minutes

tmdbApiKey: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"